.content {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;

}
.categories{
  text-align: left;
  font-size: 30px;
  border: 5px solid;
  width: 30%;
  height: 200px;
}
.page-content{
  text-align: center;
  font-size: 30px;
  border: 5px solid;
  width: 70%;
  height: 200px;
}
@media (max-width: 576px) {
  .content{
    flex-direction: column;
    font-size: 20px;
  }
  .categories{
    box-sizing: border-box;
    width: 100%;
  }
  .page-content{
    box-sizing: border-box;
    width: 100%;
  }
}
